.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.switch-btns{
  border: 1px solid black;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 20px 0;
  text-transform: uppercase;
}
.dfp-container{
  position: relative;
}

video {
  left: 0;
}

.test-player{
  opacity: 0;
  height: 0;
}

.video-poster {
  opacity: 0;
  height: 0;
}
.video-poster.visible{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: red;
  color: white;
  opacity: 1;
}

.adContainer{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

#player.player-hidden{
  height: 0;
  opacity: 0;
}

#player.player-visible {
  height: auto;
  width: 100%;
  opacity: 1;
}

.subtitle {
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-top: 35px;
  text-transform: uppercase;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
